media/Proto3-demo.mp4 filter=lfs diff=lfs merge=lfs -text
media/MVP_Large-Load.mov filter=lfs diff=lfs merge=lfs -text
media/MVP_Medium-Load.mov filter=lfs diff=lfs merge=lfs -text
media/MVP_Photo.png filter=lfs diff=lfs merge=lfs -text
media/MVP_Small-Load.mov filter=lfs diff=lfs merge=lfs -text
media/MVP_Safeguard.mov filter=lfs diff=lfs merge=lfs -text

imports/**         linguist-vendored
patches/**         linguist-vendored
cmake/**           linguist-vendored
include/**         linguist-vendored
